body {
    font-family: 'Secular One', sans-serif;
    /* Appliquer la police 'Secular One' à votre page */
}

#toolbar {
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    overflow: hidden;
}

#toolbar li {
    overflow: hidden;
    list-style: none;
}
#toolbar li:hover {
    cursor: pointer;
}

#toolbar li:first-child {
    font-size: 45px;
    margin-right: auto;
}

#toolbar li:first-child div {
    animation: spanFadeIn 750ms ease forwards;
}

#toolbar li:not(:first-child) {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

#toolbar li:not(:first-child) div {
    animation: spanFadeIn 750ms ease forwards;
}


.gradient-border {
    position: relative;
    padding: 1px;
    background: rgb(150, 150, 150);
}

.gradient-border::before,
.gradient-border::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 400px;
}

.gradient-border::before {
    left: 0;
    background: linear-gradient(to right, black, transparent);
}

.gradient-border::after {
    right: 0;
    background: linear-gradient(to right, transparent, black);
}

@keyframes spanFadeIn {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateY(0%)
    }
}

img {
    width:98vw;
    margin:0;
    padding:0;
}